<div class="jumbotron jumbotron-fluid">
<div class="container">
<h1>Register</h1>

<form [formGroup]="RegisterForm">
  <div class="form-group">
  <label> Email</label>
  <input class="form-control" id="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" formControlName="Email"/>
  <div class="errdisplay" *ngIf="RegisterForm.controls['Email'].errors && !RegisterForm.controls['Email'].pristine">
    <div *ngIf="RegisterForm.controls['Email'].errors.required">* Email is required</div>
    <div *ngIf="RegisterForm.controls['Email'].errors.pattern">* Enter valid email address</div>
  </div> 
</div>
<div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" formControlName="Password"/>
    <div class="errdisplay" *ngIf="RegisterForm.controls['Password'].errors && !RegisterForm.controls['Password'].pristine">
      <div *ngIf="RegisterForm.controls['Password'].errors.required">* Password is required</div>
    </div>
</div>
<div class="form-group">
  <label >Confirm Password</label>
  <input type="password" class="form-control" formControlName="ConfirmPassword"/>
  <div class="errdisplay" *ngIf="RegisterForm.controls['ConfirmPassword'].errors && !RegisterForm.controls['ConfirmPassword'].pristine">
    <div *ngIf="RegisterForm.controls['ConfirmPassword'].errors.required">* ConfirmPassword is required</div>
  </div>
</div>
<div class="form-group">
    <button class="btn btn-primary" [disabled]="RegisterForm.invalid" (click)="onRegister(RegisterForm.value)">Register</button>
</div>
</form>
</div>
</div>